
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Styles */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  padding: 10px;
  padding-top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: rgb(249, 251, 249);
  /* box-shadow: 2px 2px 2px 5px rgb(0,0,0,0.3); */

}

.logoName{
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo{
  background-image: url('../public/images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 2rem;

}

.companyName{
  font-size: 1.7rem;
  font-family: 'Playfair Display';
  cursor: pointer;
}

.navigation ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none; 
  font-family: 'Montserrat';
  margin: 0px;

}

.navigation ul li {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 4px;
  margin-right: 20px;
  border-bottom: 1px solid transparent;
  align-self: center;
}

.navigation ul li:hover{
  
  border-bottom: 1px solid rgb(0, 0, 0);

}

.link{
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

.userName{
  max-width: 80px; /* Adjust the width as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}


/* Home Page Styles */

.homePage{
  position: relative;
  overflow-y: hidden;
  padding-top: 80px;
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../public//images/homePageBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

}

/* Adding blur filter */
.homePage::before{
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); 
  z-index: -1; 
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.mainName{
  padding: 20px;
  font-family: 'Playfair Display';
  font-size: 5rem;
}

.nameSlogan{
  font-size: 1.7rem;
  font-style: italic;
}


/* Login Form Styles */

.loginPage{
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: 748px;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(249, 251, 249);
  
}

.login{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: 500px;
  box-shadow: 5px 10px 10px 5px rgb(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
}

.formTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;

}

.loginForm, .loginFormContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs{
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.label{
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.2rem;

}

.email, .password{
  height: 40px;
  width: 400px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(249, 251, 249);
  padding-left: 10px;
}

.email::placeholder, .password::placeholder{
  font-family: roboto;
  font-size: 12px;
}

.email:focus, .password:focus{
  padding-left: 10px;
}

.loginButton{
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 10px;
  height: 50px;
  width: 200px;
  font-family: 'Montserrat';
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  background: #b4d6e7;
  cursor: pointer;

}

.loginButton:hover{
  transform: scale(1.03);
  border: none;
  border-bottom:2px solid black;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.registerNow{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.signUp{
  background-color: none;
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.errorMessage{
  color: red;
  font-style: 'Roboto';
  font-size: 16px;
  text-align: center;
}

.cookie{
  font-size: 8px;
}


/* Register Styles */

.signUpContainer{
  height: auto;

}

.signUpLogoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 20px;

}

.signUpLogo{
  height: 50px;
  width: 50px;
  background-image: url('../public/images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.signUpName{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

.signUpForm{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: auto;
 
}

.signUpFormContainer{
  margin-top: -40px;

}

.regInputs{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.regInputsFullName, .regInputsEmail{
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

.fullName,.emailRegister, .passwordRegister, .confirmPassword, .bioID{
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(249, 251, 249);
  padding-left: 10px;

}

.fullName, .emailRegister{
  width: 450px;

}

.fullName::placeholder, .email::placeholder, .passwordRegister::placeholder, .confirmPassword::placeholder{
  font-family: roboto;
  font-size: 12px;

}

.dobBioId, .passwordConfirmPassword{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
}

.dob, .bioID{
  height: 40px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(249, 251, 249);

}

.dob{
  padding-left: 10px

}

.passwordRegister, .confirmPassword{
  width: 200px;

}

.emailRegister:focus, .passwordRegister:focus, .confirmPassword:focus, .bioID:focus, .dob:focus, .fullName:focus{
  border-bottom: 1px solid rgb(108, 184, 232);

}

.regLabel{
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.signUpButton{
  margin-bottom: 10px;
  width: 100%;

}

.error{
  background-color: rgb(244, 198, 198);
}

.loginNow, .logIn{
  margin-top: 10px;
  font-weight: 400;
}

.logIn{
  font-weight: 600;
}

.inputAndIcon{
  display: flex;
  align-items: center;
  justify-content: center;

}

.cameraIcon{
  background-image: url('../public/images/qr.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: -24px

}

.cameraIcon:hover{
  transform: scale(1.1);
}


/* QR Scanner */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
}








/* Footer Styles */

footer{
  width: 100%;
  height: 80px;
  background-color: rgb(203 215 220);
  display: flex;
  align-items: center;
  justify-content: center;
}

.myFooter{
  color: rgb(0, 0, 0);
  font-size: 14px;
}

h1{

  height: 500px;
}